body {
	background-color: #0512c4;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
}

form {
	background-color: #fff;
	max-width: 500px;
	margin: 50px auto;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
	border-top-right-radius: 5%;
	border-bottom-left-radius: 5%;
}

.form-control {
	text-align: left;
	margin-bottom: 25px;
}

.form-control label {
	display: block;
	margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
	border: 1px solid #777;
	border-radius: 6px;
	font-family: inherit;
	padding: 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
	display: inline-block;
	width: auto;
}

button {
	background-color: #c40505;
	color: white;
	border: 1px solid #777;
	border-radius: 10px;
	font-family: inherit;
	font-size: 18px;
	padding: 10px 20px;
	cursor: pointer;
	margin: auto;
	display: block;
	width: 50%;
	min-width: 150px;
}

@media (max-width: 600px) {
	form {
		padding: 20px 10px;
		margin: 20px;
	}

	button {
		width: 70%;
		min-width: 120px;
	}
}